.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */
.dis-flex {
    display: flex;
}

.text1 {
    color: #FEA301;
}

.text2 {
    color: #01ACFD;
}

.text3 {
    color: #05D4DF;
}

.text4 {
    color: #5D58EF;
}

.btn1 {
    background-color: #FEA301;
    padding: 10px 60.5px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 12px;
}

header {
    margin: 1.25rem 8.75rem;
}

/* nav styles */
nav {
    display: flex;
    gap: 11.625rem;
    margin: 1.25rem 8.75rem;
    justify-content: center;
    align-items: center;
}

/* .title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 4px solid blue;
    align-items: center;
} */

.title {
    display: flex;
    gap: 11px;
    align-items: center;

}

#school {
    font-weight: 700;
    font-size: 32px;
}

.title img {
    width: 64px;
    height: 64px;
}

.items {
    gap: 32px;
}

#menu {
    display: none;
}

/* media query */

@media screen and (max-width: 576px) {
    nav {
        justify-content: center;
    }

    .border {
        border-bottom: 2px solid orange;
        border-width: 100%;
    }


    nav .items {
        display: none;

    }

    nav .title h1,
    button {
        display: none;
    }

    #menu {
        display: list-item;
    }

    .title {
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
        align-items: center;
    }

    .img {
        display: flex;
        justify-content: space-between;
        gap: 282px;

    }

}