.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */
.dis-flex {
    display: flex;
}

.text1 {
    color: #FEA301;
}

.text2 {
    color: #01ACFD;
}

.text3 {
    color: #05D4DF;
}

.text4 {
    color: #5D58EF;
}

.text5 {
    color: #8700FF;
}

.text6 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 42.14px;
}

.text7 {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.text8 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
}

.text-align {
    text-align: center;
}

.sto-ti {
    font-weight: 700;
    font-size: 24px;
}

.btn1 {
    background-color: #FEA301;
    padding: 10px 60.5px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 12px;
}

.btn2 {
    background-color: black;
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}

.btn3 {
    font-weight: 700;
    font-size: 0.943rem;
    border: none;
    background-color: white;
    margin-top: 2.438rem;

}

.btn5 {}

.sta-btn {
    background-color: orange;
    border-radius: 50%;
    align-content: center;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 0px;
    border: none;
}

.sta-btn img {
    width: 24px;
    height: 15px;
}

.title0 {
    font-weight: 700;
    font-size: 3.5rem;
}

.ca-sub {
    color: #808080;
    font-weight: 500;
    font-size: 0.943rem;
}

.ca-ti {
    color: #202020;
    font-weight: 600;
    font-size: 1.533rem;
}




/* header {
    margin: 1.25rem 8.75rem;
} */

/* nav styles */

header {
    width: 100%;
}

section {
    width: 100%;
}

main {
    width: 100%;
}

nav {
    display: flex;
    gap: 11.625rem;
    margin: 1.25rem 8.75rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* .title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 4px solid blue;
    align-items: center;
} */

.title {
    display: flex;
    gap: 0.688rem;
    align-items: center;

}

#school {
    font-weight: 700;
    font-size: 2rem;
}

.title img {
    width: 64px;
    height: 64px;
}

.items {
    gap: 2rem;
}

#menu {
    display: none;
}

/* banner styles */
.banner {
    display: flex;
    /* align-items: center; */
    /* margin: 1.25rem 8.75rem; */
    gap: 3.125rem;
    justify-content: center;
    width: 100%;
}

.content h1 {
    font-weight: 700;
    font-size: 3.5rem;

}

/* .content {
    border: 2px solid #FEA301;
}

.img1 {
    border: 2px solid #202020;
} */

.title1 {
    display: inline;
}

.subtitle {
    font-weight: 400;
    font-size: 1.25rem;
}

/* cards design */
.bg {
    background-image: url("../B11-A2-Kids-School/assets/bg.png");

}

.cards {
    display: flex;
    padding: 2.5rem;
    margin: 1.75rem;
    justify-content: center;
    width: 100%;
}

.stand {
    margin: 1.25rem 8.75rem;
    /* align-items: center; */
    text-align: center;
    padding: 0px;
    width: 100%;

}

.card1 {
    padding: 0px 2.5rem;
    margin: 1.75rem;
    height: 30.123rem;
    width: 23rem;
    align-content: center;
    background-image: linear-gradient(#DEF5FF, white);
    border-radius: 1.179rem;
    border: 2px solid #DEF5FF;
    /* box-shadow: 10px 10px 5px #797085; */
}

.card2 {
    padding: 0px 2.5rem;
    margin: 1.75rem;
    height: 30.123rem;
    width: 23rem;
    align-content: center;
    background-image: linear-gradient(#FFF4DC, white);
    border-radius: 1.179rem;
    border: 2px solid #FFF4DC;
}

.card3 {
    padding: 0px 2.5rem;
    margin: 1.75rem;
    height: 30.123rem;
    width: 23rem;
    align-content: center;
    background-image: linear-gradient(#F2E8FF, white);
    border-radius: 1.179rem;
    border: 2px solid #F2E8FF;
}

.stand img {
    margin-bottom: 2rem;
}

.btn {
    justify-content: center;
    gap: 0.625rem;
    display: flex;
}

/* story styles */
.story-con {
    display: flex;
    /* gap: 18.73px; */
    margin: 1.25rem 8.75rem;
    /* text-align: center; */
    justify-content: center;
    align-content: center;
    width: 100%;

}

.stories {
    padding-bottom: 11.875rem;
    padding-top: 6.25rem;
}

.left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 38.875rem;
    width: 37.563rem;
}

.right {
    align-items: center;
    height: 39.375rem;
    width: 33.75rem;
    border-radius: 1rem;
    background-color: #FFFFFF;
}

.right img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.our {
    text-align: center;
}

.left-box {
    background-color: #FFFFFF;
    margin: 0px 1.25rem;
    border-radius: 1rem;
    margin-bottom: 1.25rem;

}

.left-box img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.left-box h3 {
    padding: 1.875rem 2.313rem;
    font-size: 0.959rem;
    font-weight: 700;
}

.head {
    padding: 2.125rem 2.375rem;
}

/* .bg-gre {
    background-image: linear-gradient(white, #FEBF4F);
} */

.bg1 {
    background-image: url("../B11-A2-Kids-School/assets/bg.png"), linear-gradient(white, #f8d79e);
    width: 100%;
}

.mob {
    display: none;
}

/* footer styles */
footer {
    background-color: #01ACFD;
    display: flex;
    /* margin: 1.25rem 8.75rem; */
    /* text-align: center; */
    justify-content: center;
    align-content: center;
    padding: 7.688rem 14.25rem 10.875rem 8.75rem;
    gap: 6.25rem;
    width: 100%
}

.footer-ti {
    display: flex;
    align-items: center;

}

.footer-ti img {
    height: 2rem;
    width: 2rem;
}




.foo-touch ul {
    list-style-type: none;
    display: flex;
    gap: 0.634rem;
    padding-left: 0px;
}




.foo-about ul {
    list-style-type: none;
    padding-left: 0px;
}

.foo-about ul li {
    margin-top: 2rem;
}


/* media query */

@media screen and (max-width: 576px) {
    nav {
        justify-content: center;
        display: inline;
    }

    /* .border {
        border-bottom: 1px solid orange;

    } */


    nav .items {
        display: none;

    }

    .btn1 {
        display: none;
    }

    #school {
        display: none;
    }

    #menu {
        display: list-item;
    }

    .title {
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 1rem;
        align-items: center;
    }

    .img {
        display: flex;

    }

    .sticky {
        position: sticky;
        top: 0px;
        background-color: white;
        border-bottom: 1px solid #FEA301;
    }

    /* body {
        justify-content: center;
        margin: 1.25px 8.75px;
        margin-top: 0px;
    } */

    /* banner styles */
    .banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* justify-items: center; */
        width: 100%;
        margin-left: 250px;
        margin-bottom: 100px;
    }

    .banner h2 {
        font-size: 2rem;
    }

    #menu {
        translate: 35.625rem;
    }

    main {
        width: 100%;
    }

    /* body {
        align-items: center;
        justify-content: center;

    } */

    .content {
        text-align: center;
        position: relative;
        top: 700px;
        /* margin-top: 90px; */
    }

    .img1 {
        margin-top: 50px;
        position: relative;
        top: -700px;
    }

    /* stand styles */
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    .h2 {
        text-align: center;
        text-decoration: none;
        align-content: center;
    }

    /* .title1 {
        font-size: 32px;

    } */

    .cards {
        margin: 0px 16px;
    }

    /* story style */

    .right {
        display: none;
    }

    .left {
        margin: 0% auto;
    }

    .mob {
        display: inline;
    }

    /* footer styles */
    footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 400px;
    }



}